<material-toolbar icon="menu" title="Menu Example"></material-toolbar>
<div id="content">
  <div class="container">
    <material-menu>
      <menu-item avatar="https://avatars2.githubusercontent.com/u/9996860?v=3&s=460">
        Tobe O
      </menu-item>
      <menu-item [disabled]="true" icon="favorite">
        My Likes
      </menu-item>
      <menu-item avatar="https://www.dartlang.org/assets/logo-61576b6c2423c80422c986036ead4a7fc64c70edd7639c6171eba19e992c87d9.svg">
        Dart
      </menu-item>
    </material-menu>
  </div>
  <div class="container">
    <material-menu>
      <menu-item icon="content_cut">
        Items
      </menu-item>
      <menu-separator></menu-separator>
      <menu-item icon="content_copy">
        Can be
      </menu-item>
      <menu-separator></menu-separator>
      <menu-item icon="content_paste">
        Separated
      </menu-item>
    </material-menu>
  </div>
</div>